.container{
display: flex;
justify-content:center;
padding-bottom: 30px;
padding-top:30px;

}
a{
    text-decoration: none;
    color:black;
    font-family: "Raleway", sans-serif;
    padding:10px;
}
a:hover {
    text-decoration: none;
    color:white;
    background-color: black;
}

.fitem{
 font-size: 30px;
}
.blk {color:white;
background-color: black;
font-size: 20px;
padding-right:5px;
}
#btn{
    color:white;
    background-color: black;
}
.sec{
    margin-bottom: 150px;
}
.face{
    width:100%;
height:auto;
}
.intro{
    font-size: 24px;
}
.con{
    padding-top:45px;
    padding-bottom:45px;
    padding-left:45px;
    padding-bottom:30px;
}
.name{
   
    font-size: 60px;
    font-family: "Playfair Display";
}

button{
    border-color: transparent;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;

    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: black;
    color:white
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .nm{
      font-size:20px;
  }

  